@model Jays_BackOffice.DB_Models.BookingInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookingInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PnrNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PnrNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Error)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Error)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AutoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
