@model Jays_BackOffice.DB_Models.Deeplink

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Deeplink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityName1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityName1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityName2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityName2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityName3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityName3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Children)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Children)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Infant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Infant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
      
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DeeplinkId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
